body {
	padding: 15px;
	font-family: Verdana;
	font-size: 14px;
}

p {
	padding-top: 10px;
	padding-bottom: 10px;
}

img.shadow{
  box-shadow: 8px 8px 10px #aaa;
}

.heading {
	font-size: 40px;
}

.button {
    background-color: #0086e3;
    border: none;
    color: white;
    padding: 30px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    width: 100%;
}

.center {
	text-align: center;
}

.quote {
	font-style: italic;
	font-size: 15px;
	color: #999999;
}