body {
	padding: 10px;
	font-family: Verdana;
	font-size: 14px;
}

.heading {
	font-size: 40px;
}

.button {
    background-color: #0086e3;
    border: none;
    color: white;
    padding: 15px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    width: 100%;
}

.center {
	text-align: center;
}

.quote {
	font-style: italic;
	font-size: 13px;
	color: #999999;
}