<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MeetingRooms.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>A0A6DFB926DB0201A297CF59E0ABEF19D83A7F6D</string>
				<key>dateExpires</key>
				<string>26/09/2020</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>TR7A33QWD3.ecg.dk.meetingrooms</string>
				<key>com.apple.developer.team-identifier</key>
				<string>TR7A33QWD3</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>TR7A33QWD3.ecg.dk.meetingrooms</string>
				</array>
			</dict>
			<key>name</key>
			<string>MeetingRooms.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>69ede63a-9ac7-4924-8eec-322bfec7c7b4</string>
				<key>name</key>
				<string>eCG DK internal apps</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>TR7A33QWD3</string>
				<key>name</key>
				<string>eBay Classifieds Denmark ApS</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
